alias dots="git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME"
alias ls="ls -lah --color=auto"

# Scripts from "$HOME/bin"
alias shorten="0xff"
alias paste="vault"
alias pb="vault"
alias wttr="weather"
