*.tmp
*.pyc
*.o

/.dotfiles
/.local/bin
/.local/share

# unclutter untracked
/.aws
/.bash_history
/.cache
/.ccache
/.config/cmus/
/.config/micro/backups
/.config/micro/buffers
/.config/micro/init.lua
/.config/neofetch/
/.config/pulse/
/.config/.wrangler/
/.docker
/.env
/.gitconfig
/.gnupg
/.keychain
/.lesshst
/.mozilla
/.npm
/.ollama
/.ssh
/.terraform.d
/.vim*
/.wget-hsts
/.wrangler
