*.tmp
*.pyc
*.o

/.dotfiles
/.local/
/.local/share

# unclutter untracked
/.aws
/.bash_history
/.cache
/.ccache
/.config/cmus/
/.config/micro/backups
/.config/micro/buffers
/.config/micro/init.lua
/.config/neofetch/
/.config/obsidian/
/.config/pulse/
/.config/Slack/
/.config/sublime-text/
/.config/.vlc/
/.config/.wrangler/
/Desktop/
/.docker
/Downloads/
/.env
/.gitconfig
/.gnupg
/.keychain
/.lesshst
/.mozilla
/.npm
/.ollama
/.pki/
/.python_history
/.ssh
/.terraform.d
/.todo
/.thunderbird/
/.vim*
/.wget-hsts
/.wrangler
